body {
    font-family: Poppins, sans-serif;
}

#logo {
    width: 12em;
}

#index {
    background-color: #fbfaf9;
}

a {
    text-decoration: none !important;
    color: black !important;
}

a:hover {
    color: black !important;
    text-decoration: none !important;
    cursor:pointer;
}