body {
    font-family: 'Atkinson Hyperlegible', sans-serif;
    background-color: #fbfaf9;
}

#logo {
    width: 12em;
}

a {
    text-decoration: none !important;
    color: black !important;
}

a:hover {
    color: black !important;
    text-decoration: none !important;
    cursor:pointer;
}

#bigtext {
    font-size: 45px;

}

#andmore{
    list-style-type: none;
}
